<div class="wrapp-civilizations">
    <h1 class="title-app">UNITS</h1>

    <div class="container">

        <div class="description">
            <div class="title-app">
                <h1>{{unit.name}}</h1>
            </div>
            <div class="imageDescription">
                <img src={{urlImg}} alt="...">
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Description:</span><span>{{unit.description}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Expansion:</span><span>{{unit.expansion}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Age:</span><span>{{unit.age}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Build Time:</span><span>{{unit.build_time}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Reload Time:</span><span>{{unit.reload_time}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Attack Delay:</span><span>{{unit.attack_delay}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Movement Rate:</span><span>{{unit.movement_rate}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Line Of Sight:</span><span>{{unit.line_of_sight}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Hit Points:</span><span>{{unit.hit_points}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Range:</span><span>{{unit.range}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Attack:</span><span>{{unit.attack}}</span>
            </div>
        </div>

        <div class="wrapp-images">

            <div class="hexagon-wrapp" *ngFor="let unit of units; let i = index">
                <div class="title-image">
                    <span>{{unit.name}}</span>
                </div>
                <div class="image hexagon" [ngStyle]="{'background':' url(' + urlImg + ') center center'}">
                    <div class="mask" (click)="selectUnit(unit)"></div>
                </div>
            </div>
        </div>

    </div>
</div>