<div class="wrapp-civilizations">
    <h1>STRUCTURES</h1>

    <div class="container">
        <div class="wrapp-images">
            
            <div *ngFor="let structure of structures; let i = index" class="image hexagon"
            
            >
                <div class="mask" (click)="selectStructures(structure)"></div>
            </div>
        </div>
        <div class="description">
            <h1>{{structure.name}}</h1>

            <span>Description</span>
        </div>
    </div>




</div>