<div class="video-Age">
    <div class="background">
        <video autoplay loop src="../../assets/videos/AgeofEmpires4Low.mp4" id="videoBackground"></video>
    </div>
    <div class="foreground">
        <video autoplay loop src="../../assets/videos/AgeofEmpires4.mp4" id="videoForeground"></video>
        <div class="foregroundInner">
            <div class="logoGame">
                <img src="../../assets/logos/AgeLogo.png" alt="AgeLogo">
            </div>
            <div class="authorName">
                <h2>David Fernando Zuluaga</h2>
            </div>
        </div>
    </div>
</div>