<div class="wrapp-civilizations">
    <h1 class="title-app">TECHNOLOGIES</h1>

    <div class="container">
        <div class="wrapp-images">
            <div class="hexagon-wrapp" *ngFor="let technology of technologies; let i = index">
                <div class="title-image">
                    <span>{{technology.name}}</span>
                </div>
                <div class="image hexagon"
                    [ngStyle]="{'background':' url(' + urlImg + ') center center'}">
                    <div class="mask" (click)="selectTechnology(technology)"></div>
                </div>
            </div>

        </div>
        <div class="description">
            <div class="title-app">
                <h1>{{technology.name}}</h1>
            </div>
            <div class="imageDescription">
                <img src={{urlImg}} alt="...">
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Description:</span><span>{{technology.description}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Expansion:</span><span>{{technology.expansion}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Age:</span><span>{{technology.age}}</span>
            </div>
            <div class="wrapDescription">
                <span class="mainSpan">Build Time:</span><span>{{technology.build_time}}</span>
            </div>
        </div>
    </div>
</div>