<div class="wrapp-civilizations">
    <h1>CIVILIZATIONS</h1>

    <div class="container">
        <div class="wrapp-images">
            
            <div *ngFor="let civilization of civilizations; let i = index" class="image hexagon"
            [ngStyle]="{'background':' url(' + urlImg + ') center center'}"
            >
                <div class="mask" (click)="selectCivilization(civilization)"></div>
            </div>
        </div>
        <div class="description">
            <h1>{{civilization.name}}</h1>
            <img src={{urlImg}} alt="..."/>
            <span>Description</span>
        </div>
    </div>




</div>